@import url("https://fonts.googleapis.com/css2?family=Lato&family=Special+Elite&display=swap");
body {
  background-color: #f2f2f2;
}

.main__header {
  color: #224573;
  font-family: "Special Elite", cursive;
}
.main__header--image {
  display: inline-block;
  position: absolute;
  top: 90px;
  left: 83%;
}

.main__heading {
  color: #ffa431;
  font-family: "Special Elite", cursive;
}
.notes {
  background-color: #ffffff;
  padding: 20pt;
  margin: 20pt;
  font-family: "Lato", sans-serif;
}
.notes__heading {
  color: #ffa431;
  font-family: "Special Elite", cursive;
}
.notes__heading3 {
  color: #ffa431;
  font-family: "Special Elite", cursive;
}
.notes__paragraph{
  color: #0b0b0b;
}

p {
  color: #0b0b0b;
}

.section {
  background-color: #ffffff;
  padding: 20pt;
  margin: 20pt;
  font-family: "Lato", sans-serif;
}
.section__heading {
  color: #ffa431;
  font-family: "Special Elite", cursive;
}
.section__heading3 {
  color: #ffa431;
  font-family: "Special Elite", cursive;
}

.footer {
  font-family: "Lato", sans-serif;
}

.header {
  background-color: #224573;
  padding-left: 2em;
  padding-bottom: 1em;
  margin: 0 auto;
}

.main {
  max-width: 960px;
  margin: 0 auto;
}
.navigation {
  max-width: 960px;
  margin: 0 auto;
}

.navigation__link {
  margin-left: 3em;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: #f28729;
}

.navigation__logo {
  padding-top: 1em;
}

/* Color Theme Swatches in Hex */

.color-theme_85237283279865-1-hex {
  color: #224573;
}

.color-theme_85237283279865-2-hex {
  color: #f2d95c;
}

.color-theme_85237283279865-3-hex {
  color: #ffa431;
}

.color-theme_85237283279865-4-hex {
  color: #f28729;
}

.color-theme_85237283279865-5-hex {
  color: #f2f2f2;
}
